.movie-info {
    max-height: 550px;
}

.movie-info .movie-name {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.movie-info img {
    max-width: 300px;
    max-height: 300px;
    float: left;
    margin: 2px 15px;
    border: solid 1px black;
}