<div class="row">
    <div class="movie-info col-md-4" *ngFor="let m of movies">
        <div class="card bg-light p-1 m-1">
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{ m.poster }}" class="img-fluid"/>

            <div class="movie-name">{{m.name}} </div>
            <ul class="movie-props">
                <li><strong>Year  </strong>Released in {{m.releaseYear | date:'mediumDate'}}</li>
                <li><strong>Plot  </strong>{{m.plot}}</li>
                <li><strong>Producer  </strong>{{m.producerName.name}}</li>
            </ul>
        </div>
    </div>
    
</div>